<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8 py-5">
			<div class="diary-border">
				<h2 class=""><i class="fas fa-book"></i>日記を編集する</h2>
			</div>
			<div class="new-form">
				<%= form_with model: @diary, local: true do |f| %>
				<%= render 'shared/error_messages', {model: f.object} %>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<%= f.label :diary_date %>
							<%= f.date_field :diary_date, class:"form-control" %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<%= f.label :title %>
							<%= f.text_field :title, class:"form-control" %>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<%= f.label :body %>
							<%= f.text_area :body, class:"form-control", rows:10 %>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<%= f.label :genre_id %>
							<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
						</div>
					</div>
					<div class="col-6">
						<%= link_to "ジャンル一覧・追加", genres_path, class:"btn btn-info" %>
					</div>
					<div class="col-12">
						<div class="form-group">
							<%= f.label :adequacy %><br>
							<label><%= f.radio_button :adequacy, 1 %><%= image_tag asset_path('nicochan5.png'), class:"diary-image" %></label>
							<label><%= f.radio_button :adequacy, 2 %><%= image_tag asset_path('nicochan4.png'), class:"diary-image" %></label>
							<label><%= f.radio_button :adequacy, 3 %><%= image_tag asset_path('nicochan1.png'), class:"diary-image" %></label>
							<label><%= f.radio_button :adequacy, 4 %><%= image_tag asset_path('nicochan2.png'), class:"diary-image" %></label>
							<label><%= f.radio_button :adequacy, 5 %><%= image_tag asset_path('nicochan3.png'), class:"diary-image" %></label>
						</div>
					</div>
					<div class="col-12 text-center pt-5">
						<%= f.submit "編集内容更新", class:"btn btn-success w-100" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>