
	<div class="row">
		<div class="offset-1 col-md-10 py-5">
			<div class="new-form">
				<%= form_with model: @diary do |f| %>
				<div class="row">
					<div class="col-7">
						<div class="row">
							<div class="col-4">
								<%= f.label :diary_date %>
								<%= f.date_field :diary_date, class:"form-control" %>
							</div>
							<div class="col-8">
								<%= f.label :title %>
								<%= f.text_field :title, class:"form-control" %>
							</div>
							<div class="col-12">
								<%= f.label :body %>
								<%= f.text_area :body, class:"form-control" %>
							</div>
						</div>
					</div>
					<div class="col-5">
						<div class="row">
							<div class="col-12">
								<%= f.label :genre %>
								<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
							</div>
							<div class="col-12">
								<label><%= f.radio_button :adequacy, 1 %>絶不調</label>
								<label><%= f.radio_button :adequacy, 2 %>不調</label>
								<label><%= f.radio_button :adequacy, 3 %>普通</label>
								<label><%= f.radio_button :adequacy, 4 %>好調</label>
								<label><%= f.radio_button :adequacy, 5 %>絶好調</label>
							</div>
							<div class="col-12 text-center pt-5">
								<%= f.submit "作成", class:"btn btn-success" %>
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>