<div class="container">
	<div class="row">
		<div class="offset-1 col-md-10 mt-5">
			<h3><%= @diary.diary_date.strftime("%Y年%m月%d日") %>の日記</h3>
			<div class="">
				<h4><%= @diary.title %></h4>
				<div class="diary-body">
					<%= @diary.body %>
				</div>
				<div class="">
					<%= @diary.genre.name %>
					<% case @diary.adequacy %>
						<% when 1 %>
							<%= image_tag asset_path('nicochan5.png'), class:"diary-image-mypage" %>
						<% when 2 %>
							<%= image_tag asset_path('nicochan4.png'), class:"diary-image-mypage" %>
						<% when 3 %>
							<%= image_tag asset_path('nicochan1.png'), class:"diary-image-mypage" %>
						<% when 4 %>
							<%= image_tag asset_path('nicochan2.png'), class:"diary-image-mypage" %>
						<% when 5 %>
							<%= image_tag asset_path('nicochan3.png'), class:"diary-image-mypage" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>