<div class="container">
	<div class="page-title text-center b-primary mt-5">
		<h1>マイページ</h1>
	</div>
	<div class="row mt-3 pb-5 mypage-border">
		<div class="col-md-3 border text-center mypage py-2">
			<%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpeg"), class:"profile-image" %>
			<p class="">
				<%= @user.name %><br>
				<%= @user.acount_name %><br>
				日記：<%= @user.diaries.count %><br>
				投稿：<%= @user.posts.count %><br>
				<%= @user.introduction %>
			</P>
			<%= link_to "会員登録情報編集", edit_user_registration_path(@user), class:"btn btn-success" %>
			<%= link_to "生活を見る", life_recodes_path, class:"btn btn-primary mt-2" %>
		</div>
		<div class="col-md-9">
			<%= link_to "学習時間", chart_study_path, remote: true, class:"btn btn-primary" %>
			<%= link_to "睡眠時間", chart_sleeping_path, remote: true, class:"btn btn-info" %>
			<%= link_to "運動時間", chart_exercise_path, remote: true, class:"btn btn-success" %>
			<div id="chart">
				<%= render 'shared/chart_study', { life_recodes: @life_recodes } %>
			</div>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-item"><%= link_to "日記", mypage_diary_path, remote: true, class:"nav-link px-5 border" %></li>
				<li class="nav-item"><%= link_to "投稿", mypage_post_path, remote: true, class:"nav-link px-5 border" %></li>
				<li class="nav-item"><%= link_to "いいね", mypage_like_path, remote: true, class:"nav-link px-5 border" %></li>
			</ul>
			<div id="mypage-tab">
				<%= render 'shared/mypage_diary', { diaries: @diaries } %>
			</div>
		</div>
	</div>
</div>
