
	<div class="row">
		<div class="offset-md-1 col-md-10 py-5">
			<div class="management-table">
				<table class="table">
					<thead>
						<tr>
							<th>タスク一覧</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @customs.each do |custom| %>
						<tr>
							<td><%= custom.task %></td>
							<td><%= link_to "削除", custom_path(custom), method: :delete, class:"btn btn-danger" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="offset-2 col-md-8">
			<%= form_with model: @custom do |f| %>
			<div class="form-group">
				<%= f.label :task ,"新しい習慣を作る" %>
				<%= f.text_field :task, class:"form-control" %>
			</div>
			<%= f.submit "作成", class:"btn btn-success" %>
			<% end %>
		</div>
	</div>
