<div class="container">
	<div class="row pt-5">
		<div class="col-md-12 text-center">
			<h2>みんなの投稿</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 border mr-4">
			<%= link_to "投稿する", new_post_path %><br>
			<% @tags.each do |tag| %>
			<%= link_to "#{tag.name}(#{tag.posts.count})", "" %><br>
			<% end %>
		</div>
		<div class="col-md-9">
			<div class="row">
			<% @posts.each do |post| %>
				<div class="col-md-4 post-box">
					<div class="card">
						<%= link_to post_path(post.id) do %>
						<div class="card-item">
							<%= attachment_image_tag(post, :post_image, format: "jpeg", fallback: "no_image.jpeg", class:"post-image") %>
						</div>
						<% end %>
						<div class="card-body">
							<%= post.content %>
							<div class="post-<%= post.id %>">
								<%= render 'likes/like', { post: post } %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</div>

