<div class="container">
	<div class="row">
		<div class="offset-2 col-md-8 pt-5">
			<div class="post-new-title">
				<h2 class=""><i class="fas fa-image"></i>投稿する</h2>
			</div>
			<div class="post-new">
				<%= form_with model: @post do |f| %>
				<div class="row">
					<div class="col-md-6">
						<%= f.label :post_image %>
						<%= f.attachment_field :post_image, id:"post-image" %>
						<%= attachment_image_tag(@post, :post_image, size:"120x120", format: "jpeg", fallback: "no_image.jpeg", id:"post-preview", class:"post-image mt-3") %>
					</div>
					<div class="col-md-6">
						<%= f.label :content %>
						<%= f.text_field :content, class:"form-control" %>
						<%= f.label :tag_name, "タグ付け" %>
						<%= f.text_field :tag_name, class:"form-control" %>
						<%= f.submit "投稿", class:"btn btn-success" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>