<div class="container">
	<div class="row">
		<div class="offset-2 col-md-8 pt-5">
			<div class="post-new">
				<%= form_with model: @post do |f| %>
				<div class="row">
					<div class="col-md-6">
						<%= f.label :post_image %>
						<%= f.attachment_field :post_image %>
					</div>
					<div class="col-md-6">
						<%= f.label :content %>
						<%= f.text_field :content, class:"form-control" %>
						<%= f.label :tag_name, "タグ付け" %>
						<%= f.text_field :tag_name, class:"form-control" %>
						<%= f.submit "投稿", class:"btn btn-success" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
